body{
	background: url('images/fon.png');
	margin: 0 auto;
	max-width:1080px;
	color:white;
}

li{
	text-align:center;
	list-style-type:none;
}

a:link, a:active, a:visited, a:hover{
	color:white;
	text-decoration:none;
}


.header{
	margin-top:50px;
}

.header img{
	float:left;
}

.header h2{
  font-size: 16px;
  font-family: "PT Serif";
}

.headerbigphone {
	margin-top:30px;
  font-size: 25px;
  font-family: "PTSerif";
  color: rgb(255, 255, 255);
  line-height: 0.8;
}

.headerbigphone p {
  font-size: 12px;
  font-family: "PTSerif";
  color: rgb(255, 255, 255);
  line-height: 1.667;
  float:center;
}

.navbar-default{
	margin-top:70px;
	border:none;
	background: url('images/menu.png');
}

.navbar-collapse{
	max-width:1080px;
	padding:0;
	margin:0;
}

.navbar-nav{
	width:100%;
}

.navbar-nav .col-sm-2{
	padding:0;
}



.navbar-default .navbar-nav>li>a:hover{
	background-image: url('images/menuhover.png');
	color:rgb(255, 187, 0);
}

.navbar-toggle{
	background-color:lightgray;
}

.heading{
	padding-bottom:35px;
	background: url('images/dark.png');
}

.heading img{
	padding-top:20px;
	padding-bottom:20px;
	display:block;
	margin:0 auto;
}

.heading .dropdown {
	position:relative;
	display:inline-block;
	width:160px;
	margin-right:20px;
	font-size: 20px;
	font-family: "PTSerif";
	line-height: 1;
}

.heading .dropdown-menu{
	text-align:left;
	background-image: url("images/dropfon.png");
	margin-right:20px;
	font-size: 12px;
	font-family: "PTSerif";
	line-height: 1.5;
	text-decoration: underline;
}

.heading .dropdown-menu>li>a{
	margin-top:10px;
	font-size: 12px;
	font-family: "PTSerif";
	text-decoration: underline;
	color:white;
	text-align:left;
}

.heading .dropdown-menu .first{
	margin-top:20px;
}

.heading .dropdown:hover > a{
	color:rgb(255, 187, 0);
}

.heading .dropdown-menu a:hover{
	background-color:rgb(255, 187, 0);
}

.heading .dropdown-toggle, .pictures .dropdown-toggle{
	color:white;
	text-decoration:none;
}

.product{
	text-align:center;
	font-size: 20px;
	font-family: "PTSerif";
	line-height: 1;
	padding-bottom:40px;
}

@media(max-width:568px){
	.col { width:100%;}
}


.linkinfo{
	margin-left:32px;
	font-size: 12px;
	margin-top:30px;
}

.linkinfo a{
	color:white;
	text-decoration: underline;
}

.link{
	margin-left:32px;
	margin-top:32px;
	font-size: 20px;
	font-family: "PTSerif";
	color: rgb(255, 255, 255);
	line-height: 1;
}

.devider{
	margin-top:35px;
	background-image: url("images/1.png");
	height: 1px;
}

.filter{
	height:30px;
	margin-top:20px;
}

select{
	background-image: url('images/filter.png');
	width:100%;
	height:100%;
	font-size: 12px;
	font-family: "PTSerif";
}

select:disabled{
  color: gray;
}

.textinfo{
	font-size: 14px;
	font-family: "PTSerif";
	margin-top:50px;
	margin-left:32px;
	text-decoration: underline;
}

.pictures{
	margin-top:35px;
}

.pictures img{
	padding-top:20px;
	padding-bottom:20px;
	display:block;
	margin:0 auto;
}

.picture{
	font-size: 12px;
	font-family: "PTSerif";
	text-decoration: underline;
	text-align:center;
}

.textafterdevider{
	font-size: 14px;
	font-family: "PTSerif";
	margin-top:30px;
	margin-left:32px;
	text-decoration: underline;
}

.picture .dropdown-menu{
	width:100%;
	text-align:center;
	margin:0;
	border-top:1px solid #1d1d1d;
	background-image: url("images/picturedrop.png");
	font-size: 12px;
	font-family: "PTSerif";
	text-decoration: underline;
}


.picture .dropdown-menu>li>a{
	font-size: 12px;
	font-family: "PTSerif";
	text-decoration: underline;
	color:white;
	text-align:center;
}

.dropdown:hover > .dropdown-menu {
	display:block;
	margin-top:0;
}

.picture .dropdown:hover > a{
	color:rgb(255, 187, 0);
}

.picture .dropdown-menu a:hover{
	background-color:rgb(255, 187, 0);
}


@media(max-width:767px){
	.navbar-default .navbar-nav>li>a:hover{
		background-image:none;
	}
}

.footer{
	margin-top:120px;
	padding: 50px 0;
	background-image: url("images/footer.png");
	font-size: 12px;
	font-family: "PT Serif";
	color: rgb(255, 255, 255);
	line-height: 1.667;
}


   
@media(max-width:568px){
	.footer .col-xs-6, .footer .col-xs-4, .footer .col-xs-8{
		width:100%;
		padding: 20px 0;
	}
}

.form-control, .btn-default{
	margin-top:10px;
	background-color:#111830;
	color:white;
	border:none;
}

@media(max-width:568px){
	.input-group{
		width:50%;
		margin:0 auto;
	}
}

/*.navbar-default .dropdown-menu{
	background-image: url("images/menudropdown.png");
	color:white;
	position:absolute;
	left:-80%;
	padding:15px;
	font-size: 16px;
	font-family: "PT Serif";
}

.navbar-default .dropdown-menu a:hover{
	background-color:rgb(255, 187, 0);
}*/


.list-inline a{
	text-decoration:underline;
}

.razrab{
	margin-left:32px;
}

.input-group{
	position:relative;
	top:-15px;
}

.sendsubmit{
	width:  33px;  
	height: 33px; 
	margin-top: 10px;
	position: relative;
    left: -5px;
	padding:0;
	border: 0;
	background: #111830 url(images/search.png) no-repeat center;
}

.navbar-form{
	padding: 0;
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}

@media(max-width:568px){
	.footer{
		text-align:center;
	}
	.razrab{
		margin:0;
	}
}

.underline{
	text-decoration:underline;
}

.phone {
  font-size: 25px;
  font-family: "PT Serif";
}

.list-inline>li{
	margin-right:15px;
}

.navbar-default .navbar-nav{
	list-style-image: url('images/menudevider.png');
}

.dropdown-menu{
	position:relative;
}